<div>
    <h2>About</h2>
    <br>
    <h4>Group Members</h4>
    <p>Ke Da Chen, S3546524</p>
    <p>Doeun Shin, S3392298</p>
    <br>
    <h4>Heroku URL</h4>
    <a href="https://fathomless-mesa-67246.herokuapp.com/">https://fathomless-mesa-67246.herokuapp.com/</a>
    <br>
    <br>
    <h4>Assignment 2 bitbucket URL</h4>
    
    <p>https://bitbucket.org/s3546524/rad18_assign_2_group_-s3546524-_-s3392298/src/master/</p>
</div>