<div class="footer">
    <ul>
        <li><%= link_to "Api",   "https://github.com/pigfly/RMIT-CSIT-RAD/tree/master/2018_S1/assignment2" %></li>
        <li id="splitter">|</li>
        <li><%= link_to "About", about_path  %></li>
    </ul>
</div>